
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Year 3 Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a (click)="navigateH()">Home</a></li>
      <li class="active">
        <a href="#">Game 1</a>
      </li>
      <li class="active"><a (click)="navigateB()">Game 2</a></li>
      <li><a (click)="navigateB()">Game 3</a></li>
      <li><a (click)="navigateSD()">Authors</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<!---<body>
  <div class='gameContainer' ng-controller='CheckersGameBoardController'>
    <div ng-game-board cols='8' rows='8' ng-model='gameBoard'></div> 
    <div class='error'>{{ flash }}</div>

    <ul>
      <li>{{ activePlayer().name }} it's your move </li>
      <li ng-repeat='player in players'>
        <span class='{{player.token}}Token'>{{player.name}}: </span> {{player.score}}
      </li>
     </ul>

     <select ng-model='firstPlayer' ng-options='player.name for player in players'></select>
    
     <button ng-click='newGame()'/>New Game</button>
  </div>

</body>--->

