<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Year 3 Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a (click)="navigateH()">Home</a></li>
      <li><a (click)="navigateA()">Game 1</a></li>
      <li><a (click)="navigateB()">Game 2</a></li>
      <li class="active"><a (click)="navigateC()">Game 3</a></li>
      <li><a (click)="navigateSD()">Authors</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<body>
  <div class="game-field">
    <div class="card"><img src="assets/memoryImg/0.jpeg"></div>
    <div class="card"><img src="assets/memoryImg/0.jpeg"></div>
    <div class="card"><img src="assets/memoryImg/1.png"></div>
    <div class="card"><img src="assets/memoryImg/1.png"></div>
    <div class="card"><img src="assets/memoryImg/2.jpeg"></div>
    <div class="card"><img src="assets/memoryImg/2.jpeg"></div>
    <div class="card"><img src="assets/memoryImg/3.png"></div>
    <div class="card"><img src="assets/memoryImg/3.png"></div>
    <div class="card"><img src="assets/memoryImg/4.jpg"></div>
    <div class="card"><img src="assets/memoryImg/4.jpg"></div>
    <div class="card"><img src="assets/memoryImg/5.png"></div>
    <div class="card"><img src="assets/memoryImg/5.png"></div>
    <div class="card"><img src="assets/memoryImg/6.jpg"></div>
    <div class="card"><img src="assets/memoryImg/6.jpg"></div>
    <div class="card"><img src="assets/memoryImg/7.png"></div>
    <div class="card"><img src="assets/memoryImg/7.png"></div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="out/all.js"></script>
</body>
